main {
	width: calc(100vw - 20px);
  min-height: calc(100vh - 102px);
  background-color: rgba(231, 192, 133, 0.247);
}

article {
  max-width: 1300px;
}




@media screen and (max-width: 599px) {
  main {
    width: 100vw;
  }

  .container-lista {
    width: 100%;
  }
}

p {
  margin: 0px;
}
p, span, mat-card-title,button, mat-card-subtitle {
  font-family: 'Nunito', sans-serif;
}

  //categorias
  .mat-card-categorias {
    margin: 2px 1px;
    width: 85px;
    // height: 120px;
    padding: 3px;
  }
  .card-tx-nome {
    font-weight: bold;
    font-size: 12px;
  }



  // .scrolling-wrapper {
  //   overflow-x: scroll;
  //   overflow-y: hidden;
  //   white-space: nowrap;
  
  //   .card {
  //     display: inline-block;
  //   }
  // }