// .container {
//   max-width: 40%;
//   margin: 0 auto;
// }
// .ui-carousel-page-links {
//   display: none;
// }
// button {
//   width: 80%;
// }
// .mat-card-actions, .mat-card-content, .mat-card-title {
//   margin-bottom: 0px;
// }
// body .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
//   border: 0 !important;
// }
// body .ui-carousel .ui-carousel-viewport {
//   border: 0;
// }


.tile2 {
  // height: 100vmin;
  padding: 10px;
   height: 50px;
  // background-color: #ccc;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.tile {
  //border-radius: 16px;
  height: 56px;
 // width: 56px;
  //background-color:aqua;
  background-size: cover !important;
  display: flex;
 align-items: center;
  justify-content: center;
}


.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0;
  margin-top: -20px;
  white-space: nowrap;
  overflow: auto;
  //box-sizing: border-box;
}
.myPoint  li {
    display: inline-block;
    border-radius: 50%;
    //border: 2px solid rgba(0, 0, 0, 0.55);
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
}
.myPoint  li.active {
    //  background: #6b6b6b;
      transform: scale(1.2);
    }



    @media screen and (min-width: 599px) {
      .tile {
        //border-radius: 16px;
        height: 80px;
      }
    }