<section *ngIf="stories"  >
  <!-- <section>
    <p-carousel [value]="stories" [numVisible]="3"  [circular]="true" [responsiveOptions]="responsiveOptions">
      <ng-template let-anuncio pTemplate="item">
        <img width="100px" src="{{anuncio}}" (click)="selecionandoImg(anuncio)"/>
      </ng-template>
    </p-carousel>
  </section> -->



  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="stories" style="padding: 4px">
    <ngu-tile *nguCarouselDef="let item; let j = index" style="padding: 4px;">
      <div class="tile" [style.background]="'url(' + item + ')'" (click)="clicandoStory(item)">
        <!-- <img src="{{item}}" alt="descricao" width="100%"> -->
      </div>
    </ngu-tile>

    <!-- <ul class="myPoint" NguCarouselPoint>
      <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
    </ul> -->
  </ngu-carousel>



<!-- <p-carousel [numVisible]="2" [numScroll]="3" [circular]="false" >
  <div ngf>

  </div> -->

                  
           
                  <!-- <p>{{anuncio.companyInformation.empresaNome}}</p> -->
                 
                    <!-- <button  mat-stroked-button>Início</button>
           
  </ng-template>
</p-carousel> -->
<!-- <div *ngIf="stories" class="container">
  <mat-card>
    <mat-card-title>testando</mat-card-title>
    <mat-card-content>
      <p-carousel headerText="texto" [value]="stories" numVisible="2">
        <ng-template style="text-align: center;" let-image pTemplate="image">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex>
              <img fxFlexFill src="{{image}}">
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="'teste'" type="button" fxFlex mat-stroked-button color="warn">Take Quiz!</button>
    </mat-card-actions>
  </mat-card>
</div> -->


</section>





