/* .main {
  width: 100%;
  min-height: calc(100vh - 102px);
}

.tableSection {
  padding: 4px;
}

.actionSection {
  padding: 4px;
} */
article {
  margin-block-end: 40px;
}

p {
  margin: 0px;
}

 /* Cards dos produtos */
.card-imagem {
  height: 100px;
  width: 100px;
}
.card-tx-nome {
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
  margin-block-end: 5px;
}
.card-tx-descricao {
  font-size: 15px;
  margin: 0px;
  opacity: 0.9;
}

/* para mudar a cor do status */
.status2-off{
  background-color: rgba(209, 112, 112, 0.315);
  border-left: 6px solid red;
  border-radius: 2px;
}
/* .status1-on{
  border-left: 6px solid green;
  border-radius: 2px;
} */
.card-content-preco {
  color:brown;
  margin: 5px 0px;
}
.txt-apartir {
  font-size: 15px;
  color: red;
  opacity: 0.8;
  margin: 8px 0px;
}
.card-produto{
  padding: 8px;
  margin-block-end: 4px;
	border: 1px solid rgb(216, 214, 214);
  border-radius: 2px;

}
.card-actions {
  margin: 0px;
  padding: 0px;
  height: 100%;
}



.titulo-categoria {
  font-weight: bold;
  margin: 15px 0px;
}

/* // celular de pé */
@media screen and (max-width: 599px) {

}

/* // celular deitado ou tablet */
@media screen and (max-width: 959px) {
  .card-actions {
    width: 100%;
  }
}

/* // computador */
@media screen and (min-width: 960px) {

}