<article
    fxLayout="column"
    fxLayoutAlign="center">      
      
      <!-- CARD PRODUTOS -->
      <!-- <mat-divider style="margin-top: 10px;"></mat-divider> -->
      <!-- <section *ngFor="let categoria of prodVariacAdc.empresa.categorias" >
          <p class="titulo-categoria" >{{categoria.nome}} {{categoria.ordem}}</p>
          <div fxLayout="row"  fxLayoutAlign="space-between start" *ngFor="let item of produtos" >
            <mat-card 
              *ngIf="item.categoria == categoria.id" 
              fxFlex="100%" 
              fxLayout="row" 
              fxLayout.lt-sm="column"
              fxLayoutAlign="space-between start" 
              class="card-produto status{{item.status}}">
                  <mat-card-content fxFlex.gt-sm="79%" fxFlex.lt-sm="100%" fxLayout="row" style="margin: 0px; width: 100%;">
                    <div class="card-imagem" *ngIf="item.url_imagem">
                      <img width="100px" src="{{item.url_imagem}}" alt="Imagem do produto"  >
                    </div>
                    <div fxFlex="100%" fxLayout="column" style="margin-left: 5px; width: 100%; height: 100%;" fxLayoutAlign="space-between start">
                      <p class="card-tx-nome"> {{item.titulo}}</p>
                      <p class="card-tx-descricao">{{item.descricao}}</p>
                      <div fxLayoutAlign="end end" class="card-content-preco">
                        <p> Apartir de: {{item.preco | currency:'BRL':'symbol-narrow'}}</p>
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions fxFlex.gt-sm="21%" fxFlex.lt-sm="100%" fxLayoutAlign="end end" class="card-actions" >
                      <button mat-button *ngIf="item.status == '1-on'" (click)="alterarStatus(item.id, '2-off')" style="color: green; "> 
                          <mat-icon style="color: green;">check_box</mat-icon>
                          Está Disponível
                      </button>
                      <button mat-button  *ngIf="item.status == '2-off'" (click)="alterarStatus(item.id, '1-on')"  style="color: brown;">
                        <mat-icon style="color: brown;">check_box_outline_blank</mat-icon>
                          Está Indisponível
                      </button>
                  </mat-card-actions>
            </mat-card>
          </div>
      </section> -->
      <!-- <mat-divider style="margin-top: 10px;"></mat-divider> -->
</article>