@import '../../../styles/angular-material-router-theme.scss';

h4, a, p, span {
  font-family: 'Nunito', sans-serif;
}

.toolbar {
  height: 1px;
}

section {
  height: 100%;
}

mat-sidenav-content {
  height: 100%;
  width: 100%;
}

mat-sidenav {
  height: 100%;
  min-width: 260px;
  max-width: 100%;
  // background-color: #b10425;
}

.sidenav-conteudo{
  z-index: 0;
  height: 100%;
  width: 100%;
}


.color-swatch-primary {
  background-color: mat-color($angular-material-router-app-primary, 500);
}
.color-swatch-primary:hover {
  background-color: mat-color(
    $angular-material-router-app-primary,
    500
  ) !important;
}

.color-swatch-warn {
  background-color: mat-color($angular-material-router-app-warn, 500);
}
.color-swatch-warn:hover {
  background-color: mat-color(
    $angular-material-router-app-warn,
    500
  ) !important;
}