h4, a, p, span {
  font-family: 'Nunito', sans-serif;
}

.footer {
  width: 100%;
  padding-block-end: 30px;
  font-size: 87%;
  color: white;
  background-color: #177649;
}



/* // celular */
@media screen and (max-width: 959px) {
  /* .footer {
    margin-block-end: 120px;
  } */
}