main {
  width: 100%;
  max-width: 420px;
  min-height: calc(100vh - 102px);
}

 .app-body {
   width: 100%;
   min-height: calc(100vh - 102px);
   display: flex;
   justify-content: center;
  //  padding: 50px;
 }


 @media only screen and (min-width: 500px) {
  .app-body {
    max-width: 500px;
  }
 }


 .tela-de-rolagem{
  align-items: initial;
  // min-height: calc(100vh - 110px);
  // margin-top: -70px;
 }

 #btnpedidoflutu {
  z-index: 2;
  // position: fixed;
  bottom:10px;
  margin-top: 10px;
  right:50%;
  left: 50%;
  // max-height: 750px;
  // margin-block-end: 20px;
}

 .tile {
  width: 100%; 
  height: 100vh;
  max-height: 750px;
  padding: 0px;
  background-color: #ccc;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0;
  margin-top: -20px;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}
.myPoint  li {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.55);
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
}
.myPoint  li.active {
      background: #6b6b6b;
      transform: scale(1.2);
    }