<app-layout>
  <main fxLayout="column" fxLayoutAlign="start center">
    <article
      fxFlex="100%"
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      class="app-body"
      [@animaTroca]="this.imgAnuncio">
          <img src="{{imgAnuncio}}" width="100%" (click)="proximoAnuncio()">

          <section fxFlex="100%"  fxLayoutAlign="end end" fxLayout="row" 
            style="margin-top: -95px;"
            >
              <button fxFlex="40%" style="background-color: chartreuse;" mat-stroked-button [routerLink]="['/home']">Início</button>
              <button  
                fxFlex="40%" 
                mat-stroked-button
                style="background-color: chartreuse;"
                (click)="escolhendoAnuncio()">
                  <img src="../../../assets/WhatsApp.png" height="25px">
                  WhatsApp
              </button>
          </section>
    </article>
  </main>
</app-layout>
