<app-layout>
  <main fxLayout="column" fxLayoutAlign="start center">
    <!-- <app-header style="margin-block-end: 65px;"></app-header> -->
    <!-- CARD EMPRESAS -->
    <article
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      class="container-lista">
        <!-- <section fxFlex.lt-sm="100%" fxLayoutAlign="space-between start" *ngFor="let empresa of empresasOn">
            
        </section> -->
        <p>OLÁ - {{categoria}}</p>
    </article>
    <article fxLayoutAlign="start center">
      <button mat-stroked-button [routerLink]="['/home']">Home</button>
    </article>
  </main>


</app-layout>
